@font-face {
    font-family: space-mono;
    src: url(../font//SpaceMono-Regular.ttf);
  }
  * {
    font-family: space-mono;
    text-transform: lowercase;
  }
  body {
    /* background-color: #f8f4ff; */
    background-image: url(../images/bg1.webp);
  }
  a {
    color: #000;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
  }
  h6 {
    background-color: #000;
    color: #39ff14;
    display: inline;
    padding: 3px;
    font-size: 16px;
  }

  .profile-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }

  .social-icons i {
    font-size: 20px;
  }