@font-face {
    font-family: space-mono;
    src: url(../font//SpaceMono-Regular.ttf);
  }
  * {
    font-family: space-mono;
    text-transform: lowercase;
  }
  body {
    background-color: #f8f4ff;
    /* background-color: #000; */
    /* color: #fff; */
  }
  a {
    color: #000;
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
  }
  h5 {
    background-color: #000;
    color: #39ff14;
    display: inline;
    padding: 3px;
  }

  /* footer p {
    background-color: #000;
    color: #39ff14;
    padding: 3px;
  } */


  .profile-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 1px solid gray; */
  }

  .social-icons i {
    font-size: 20px;
  }